<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.CoaListMapper">
    
    <resultMap type="com.inossem.oms.base.svc.domain.CoaList" id="CoaListResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyCodeEx"    column="company_code_ex"    />
        <result property="accountId"    column="account_id"    />
        <result property="accountName"    column="account_name"    />
        <result property="accountDes"    column="account_des"    />
        <result property="accountAlias"    column="account_alias"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="createBy"    column="create_by"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectCoaListVo">
        select id, company_code, company_code_ex, account_id, account_name, account_des, account_alias, gmt_create, gmt_modified, create_by, modified_by, is_deleted from coa_list
    </sql>

    <select id="selectCoaListList" parameterType="com.inossem.oms.base.svc.domain.CoaList" resultMap="CoaListResult">
        <include refid="selectCoaListVo"/>
        <where>  
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="companyCodeEx != null "> and company_code_ex = #{companyCodeEx}</if>
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="accountDes != null  and accountDes != ''"> and account_des = #{accountDes}</if>
            <if test="accountAlias != null  and accountAlias != ''"> and account_alias = #{accountAlias}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectCoaListById" parameterType="Long" resultMap="CoaListResult">
        <include refid="selectCoaListVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCoaList" parameterType="com.inossem.oms.base.svc.domain.CoaList" useGeneratedKeys="true" keyProperty="id">
        insert into coa_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="companyCodeEx != null">company_code_ex,</if>
            <if test="accountId != null">account_id,</if>
            <if test="accountName != null">account_name,</if>
            <if test="accountDes != null">account_des,</if>
            <if test="accountAlias != null">account_alias,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createBy != null">create_by,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="companyCodeEx != null">#{companyCodeEx},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="accountDes != null">#{accountDes},</if>
            <if test="accountAlias != null">#{accountAlias},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateCoaList" parameterType="com.inossem.oms.base.svc.domain.CoaList">
        update coa_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="companyCodeEx != null">company_code_ex = #{companyCodeEx},</if>
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="accountDes != null">account_des = #{accountDes},</if>
            <if test="accountAlias != null">account_alias = #{accountAlias},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoaListById" parameterType="Long">
        delete from coa_list where id = #{id}
    </delete>

    <delete id="deleteCoaListByIds" parameterType="String">
        delete from coa_list where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>