<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.ConditionTableMapper">
    
    <resultMap type="com.inossem.oms.base.svc.domain.ConditionTable" id="ConditionTableResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="companyCodeEx"    column="company_code_ex"    />
        <result property="conditionType"    column="condition_type"    />
        <result property="accountId"    column="account_id"    />
        <result property="accountCode"    column="account_code"    />
        <result property="accountName"    column="account_name"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="createBy"    column="create_by"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectConditionTableVo">
        select id, company_code, company_code_ex, condition_type, account_id, account_code,account_name, gmt_modified, create_by, modified_by, is_deleted from condition_table
    </sql>

    <select id="selectConditionTableList" parameterType="com.inossem.oms.base.svc.domain.ConditionTable" resultMap="ConditionTableResult">
        <include refid="selectConditionTableVo"/>
        <where>  
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="companyCodeEx != null "> and company_code_ex = #{companyCodeEx}</if>
            <if test="conditionType != null  and conditionType != ''"> and condition_type = #{conditionType}</if>
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectConditionTableById" parameterType="Long" resultMap="ConditionTableResult">
        <include refid="selectConditionTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConditionTable" parameterType="com.inossem.oms.base.svc.domain.ConditionTable" useGeneratedKeys="true" keyProperty="id">
        insert into condition_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="companyCodeEx != null">company_code_ex,</if>
            <if test="conditionType != null and conditionType != ''">condition_type,</if>
            <if test="accountId != null">account_id,</if>
            <if test="accountName != null">account_name,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createBy != null">create_by,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="companyCodeEx != null">#{companyCodeEx},</if>
            <if test="conditionType != null and conditionType != ''">#{conditionType},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateConditionTable" parameterType="com.inossem.oms.base.svc.domain.ConditionTable">
        update condition_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="companyCodeEx != null">company_code_ex = #{companyCodeEx},</if>
            <if test="conditionType != null and conditionType != ''">condition_type = #{conditionType},</if>
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConditionTableById" parameterType="Long">
        delete from condition_table where id = #{id}
    </delete>

    <delete id="deleteConditionTableByIds" parameterType="String">
        delete from condition_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>