<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.DashboardChartMapper">
    <select id="queryChartConfigByUserId" resultType="com.inossem.oms.base.svc.domain.dashboard.DashboardChart">
        SELECT
            c.config config
        FROM
            dashboard_chart c
                LEFT JOIN dashboard_chart_user_relation r ON c.id = r.chart_id
        WHERE
            r.user_id = #{userId}
    </select>
</mapper>