<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.PoHeaderMapper">

    <resultMap type="com.inossem.oms.base.svc.domain.PoHeader" id="PoHeaderResult">
        <result property="id" column="id"/>
        <result property="companyCode" column="company_code"/>
        <result property="orderType" column="order_type"/>
        <result property="poNumber" column="po_number"/>
        <result property="orderStatus" column="order_status"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="invoiceStatus" column="invoice_status"/>
        <result property="dropshipComplete" column="dropship_complete"/>
        <result property="bpVendor" column="bp_vendor"/>
        <result property="bpName" column="bp_name"/>
        <result property="orderDate" column="order_date"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="paymentTerm" column="payment_term"/>
        <result property="referenceNumber" column="reference_number"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="grossAmount" column="gross_amount"/>
        <result property="gstAmount" column="gst_amount"/>
        <result property="hstAmount" column="hst_amount"/>
        <result property="qstAmount" column="qst_amount"/>
        <result property="pstAmount" column="pst_amount"/>
        <result property="netAmount" column="net_amount"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="createBy" column="create_by"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="poNotes" column="po_notes"/>
    </resultMap>

    <resultMap type="com.inossem.oms.base.svc.domain.VO.PoOrderHeaderResp" id="orderHeaderResult">
        <result property="deliveryId" column="delivery_id"></result>
        <result property="poNumber" column="po_number"/>
        <result property="businessPartner" column="bp_vendor"/>
        <result property="shippingAddress" column="shipping_address"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="deliveryNumber" column="delivery_number"/>
        <result property="carrier" column="carrier_code"/>
        <result property="trackingNumber" column="tracking_number"/>
        <result property="shippedDate" column="posting_date"/>
    </resultMap>

    <sql id="selectPoHeaderVo">
        SELECT
            id,
            company_code,
            order_type,
            po_number,
            order_status,
            delivery_status,
            invoice_status,
            dropship_complete,
            bp_vendor,
            bp_name,
            order_date,
            delivery_date,
            payment_term,
            reference_number,
            currency_code,
            gross_amount,
            gst_amount,
            hst_amount,
            qst_amount,
            pst_amount,
            net_amount,
            is_deleted,
            gmt_create,
            gmt_modified,
            create_by,
            modified_by,
            po_notes
        FROM
            po_header
    </sql>
    <sql id="selectPoHeaderVoFields">
        SELECT DISTINCT
            t.id,
            t.company_code,
            t.order_type,
            t.po_number,
            t.order_status,
            t.delivery_status,
            t.invoice_status,
            t.dropship_complete,
            t.bp_vendor,
            t.bp_name,
            t.order_date,
            t.delivery_date,
            t.payment_term,
            t.reference_number,
            t.currency_code,
            t.gross_amount,
            t.gst_amount,
            t.hst_amount,
            t.qst_amount,
            t.pst_amount,
            t.net_amount,
            t.is_deleted,
            t.gmt_create,
            t.gmt_modified,
            t.create_by,
            t.modified_by,
            t.po_notes    </sql>

    <select id="selectPoHeaderList1" parameterType="com.inossem.oms.base.svc.domain.VO.PoListVo1"
            resultMap="PoHeaderResult">
        <include refid="selectPoHeaderVoFields"/>
        FROM
        po_header t
        LEFT JOIN po_item i ON t.po_number = i.po_number
        <where>
            <if test="searchText != null and searchText != ''">
                AND CONCAT(
                t.bp_vendor,
                t.po_number,
                i.po_item,
                t.reference_number is not null,
                t.bp_name)
                like
                CONCAT('%',#{searchText},'%')
            </if>
            <if test="orderType != null and orderType.size() > 0">
                AND t.order_type IN
                <foreach collection="orderType" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="orderStatus != null and orderStatus.size() > 0">
                and t.order_status IN
                <foreach collection="orderStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="deliveryStatus != null and deliveryStatus.size() > 0">
                and t.delivery_status IN
                <foreach collection="deliveryStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="invoiceStatus != null and invoiceStatus.size() > 0">
                and t.invoice_status IN
                <foreach collection="invoiceStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="companyCode!='' and companyCode !=null">
                and t.company_code = #{companyCode}
            </if>
            <if test="orderDateStart != null and orderDateStart != ''">
                and t.order_date <![CDATA[ >= ]]> #{orderDateStart}
            </if>
            <if test="orderDateEnd != null and orderDateEnd != ''">
                and t.order_date <![CDATA[ <= ]]> #{orderDateEnd}
            </if>
            <if test="grossAmountStart != null and grossAmountStart != ''">
                and t.gross_amount <![CDATA[ >= ]]> #{grossAmountStart}
            </if>
            <if test="grossAmountEnd != null and grossAmountEnd != ''">
                and t.gross_amount <![CDATA[ <= ]]> #{grossAmountEnd}
            </if>
            <if test="netAmountStart != null and netAmountStart != ''">
                and t.net_amount <![CDATA[ >= ]]> #{netAmountStart}
            </if>
            <if test="netAmountEnd != null and netAmountEnd != ''">
                and t.net_amount <![CDATA[ <= ]]> #{netAmountEnd}
            </if>
            <if test="currencyCode != null and currencyCode.size() > 0">
                and t.currency_code IN
                <foreach collection="currencyCode" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
                and t.is_deleted = 0
                and i.is_deleted = 0
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>


    <select id="selectPoHeaderById" parameterType="Long" resultMap="PoHeaderResult">
        <include refid="selectPoHeaderVo"/>
        where id = #{id}
    </select>

    <select id="selectPoHeaderByCompanyAndNumber" parameterType="java.util.Map" resultMap="PoHeaderResult">
        <include refid="selectPoHeaderVo"/>
        where company_code = #{companyCode} and po_number = #{poNumber} and is_deleted = 0
    </select>

    <insert id="insertPoHeader" parameterType="com.inossem.oms.base.svc.domain.PoHeader" useGeneratedKeys="true"
            keyProperty="id">
        insert into po_header
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="orderType != null and orderType != ''">order_type,</if>
            <if test="poNumber != null and poNumber != ''">po_number,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">delivery_status,</if>
            <if test="invoiceStatus != null and invoiceStatus != ''">invoice_status,</if>
            <if test="dropshipComplete != null">dropship_complete,</if>
            <if test="bpVendor != null and bpVendor != ''">bp_vendor,</if>
            <if test="bpName != null and bpName != ''">bp_name,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="paymentTerm != null">payment_term,</if>
            <if test="referenceNumber != null">reference_number,</if>
            <if test="currencyCode != null and currencyCode != ''">currency_code,</if>
            <if test="grossAmount != null">gross_amount,</if>
            <if test="gstAmount != null">gst_amount,</if>
            <if test="hstAmount != null">hst_amount,</if>
            <if test="qstAmount != null">qst_amount,</if>
            <if test="pstAmount != null">pst_amount,</if>
            <if test="netAmount != null">net_amount,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by,</if>
            <if test="poNotes != null">po_notes,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="poNumber != null and poNumber != ''">#{poNumber},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">#{deliveryStatus},</if>
            <if test="invoiceStatus != null and invoiceStatus != ''">#{invoiceStatus},</if>
            <if test="dropshipComplete != null">#{dropshipComplete},</if>
            <if test="bpVendor != null and bpVendor != ''">#{bpVendor},</if>
            <if test="bpName != null and bpName != ''">#{bpName},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="paymentTerm != null">#{paymentTerm},</if>
            <if test="referenceNumber != null">#{referenceNumber},</if>
            <if test="currencyCode != null and currencyCode != ''">#{currencyCode},</if>
            <if test="grossAmount != null">#{grossAmount},</if>
            <if test="gstAmount != null">#{gstAmount},</if>
            <if test="hstAmount != null">#{hstAmount},</if>
            <if test="qstAmount != null">#{qstAmount},</if>
            <if test="pstAmount != null">#{pstAmount},</if>
            <if test="netAmount != null">#{netAmount},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="modifiedBy != null and modifiedBy != ''">#{modifiedBy},</if>
            <if test="poNotes != null">#{poNotes},</if>
        </trim>
    </insert>

    <update id="updatePoHeader" parameterType="com.inossem.oms.base.svc.domain.PoHeader">
        update po_header
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="orderType != null and orderType != ''">order_type = #{orderType},</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">delivery_status = #{deliveryStatus},</if>
            <if test="invoiceStatus != null and invoiceStatus != ''">invoice_status = {invoiceStatus},</if>
            <if test="poNumber != null and poNumber != ''">po_number = #{poNumber},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="dropshipComplete != null">dropship_complete = #{dropshipComplete},</if>
            <if test="bpVendor != null and bpVendor != ''">bp_vendor = #{bpVendor},</if>
            <if test="bpName != null and bpName != ''">bp_name = #{bpName},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="paymentTerm != null">payment_term = #{paymentTerm},</if>
            <if test="referenceNumber != null">reference_number = #{referenceNumber},</if>
            <if test="currencyCode != null and currencyCode != ''">currency_code = #{currencyCode},</if>
            <if test="grossAmount != null">gross_amount = #{grossAmount},</if>
            <if test="gstAmount != null">gst_amount = #{gstAmount},</if>
            <if test="hstAmount != null">hst_amount = #{hstAmount},</if>
            <if test="qstAmount != null">qst_amount = #{qstAmount},</if>
            <if test="pstAmount != null">pst_amount = #{pstAmount},</if>
            <if test="netAmount != null">net_amount = #{netAmount},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by = #{modifiedBy},</if>
            <if test="poNotes != null">po_notes = #{poNotes},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePoHeaderById" parameterType="Long">
        delete from po_header where id = #{id}
    </delete>

    <delete id="deletePoHeaderByIds" parameterType="String">
        delete from po_header where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getOrderHeader" parameterType="String" resultMap="orderHeaderResult">
        SELECT ph.po_number,
               ph.bp_vendor,
               ph.delivery_date
        FROM po_header ph
        WHERE ph.po_number = #{poNumber}
          AND ph.company_code = #{companyCode}
          AND ph.is_deleted = 0
    </select>


    <select id="getOrderHeaders" parameterType="String" resultMap="orderHeaderResult">
        SELECT distinct ph.po_number,
               ph.bp_vendor,
               ph.delivery_date,
               dh.id as `delivery_id`,
               dh.delivery_number,
               dh.carrier_code,
               dh.tracking_number,
               dh.posting_date
        FROM delivery_header dh
                 LEFT JOIN delivery_item di ON dh.delivery_number = di.delivery_number
                 LEFT JOIN po_header ph ON di.reference_doc = ph.po_number
        WHERE ph.po_number = #{poNumber}
          AND ph.company_code = #{companyCode}
          AND dh.posting_date IS NULL
          AND ph.is_deleted = 0
    </select>

    <select id="checkWareHoseCode" parameterType="String" resultMap="PoHeaderResult">
        SELECT
            DISTINCT
            ph.id,
            ph.company_code,
            ph.po_number,
            ph.delivery_status,
            ph.is_deleted
        FROM
            po_item pi
                LEFT JOIN po_header ph on pi.po_number = ph.po_number
        WHERE
            pi.warehouse_code = #{wareHouseCode}
            AND
            pi.company_code = #{companyCode}
            AND
            ph.delivery_status != 'FUFL'
            AND
            pi.is_deleted = 0
    </select>

    <select id="checkSku" parameterType="String" resultMap="PoHeaderResult">
        SELECT DISTINCT
            ph.id,
            ph.company_code,
            ph.po_number,
            ph.delivery_status,
            ph.invoice_status,
            ph.is_deleted
        FROM
            po_header ph
                LEFT JOIN po_item pi ON ph.po_number = pi.po_number
        WHERE
            ph.company_code = #{companyCode}
          AND pi.company_code = #{companyCode}
          AND ph.invoice_status != 'FUIN'
	      AND pi.sku_number = #{skuCode}
          AND pi.is_deleted = 0
          AND ph.is_deleted = 0
    </select>
    <select id="selectPoHeaderList" parameterType="com.inossem.oms.base.svc.domain.VO.PoListVo"
            resultMap="PoHeaderResult">
        <include refid="selectPoHeaderVoFields"/>
        FROM
        po_header t
        LEFT JOIN po_item i ON t.po_number = i.po_number
        <where>
            <if test="searchText != null and searchText != ''">
                AND CONCAT(
                t.bp_vendor,
                t.po_number,
                i.po_item,
                t.reference_number is not null,
                t.bp_name)
                like
                CONCAT('%',#{searchText},'%')
            </if>
            <if test="orderType != null and orderType != ''">
                AND t.order_type = #{orderType}
            </if>
            <if test="orderStatus!='' and orderStatus !=null">
                and t.order_status = #{orderStatus}
            </if>
            <if test="deliveryStatus!='' and deliveryStatus !=null">
                and t.delivery_status = #{deliveryStatus}
            </if>
            <if test="invoiceStatus!='' and invoiceStatus !=null">
                and t.invoice_status = #{invoiceStatus}
            </if>
            <if test="companyCode!='' and companyCode !=null">
                and t.company_code = #{companyCode}
            </if>
            and t.is_deleted = 0
            and i.is_deleted = 0
        </where>
        order by t.gmt_create desc, t.order_date desc
    </select>
</mapper>
