<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.PoInvoiceHeaderMapper">

    <resultMap type="com.inossem.oms.base.svc.domain.PoInvoiceHeader" id="PoInvoiceHeaderResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="partnerId"    column="partner_id"    />
        <result property="invoiceNumber"    column="invoice_number"    />
        <result property="paymentTerm"    column="payment_term"    />
        <result property="postingDate"    column="posting_date"    />
        <result property="referenceDoc"    column="reference_doc"    />
        <result property="referenceDocType"    column="reference_doc_type"    />
        <result property="currencyCode"    column="currency_code"    />
        <result property="grossAmount"    column="gross_amount"    />
        <result property="gstAmount"    column="gst_amount"    />
        <result property="hstAmount"    column="hst_amount"    />
        <result property="qstAmount"    column="qst_amount"    />
        <result property="pstAmount"    column="pst_amount"    />
        <result property="netAmount"    column="net_amount"    />
        <result property="isCleared"    column="is_cleared"    />
        <result property="accountingDoc"    column="accounting_doc"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="createBy"    column="create_by"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="invoiceTicketUrl"    column="invoice_ticket_url"    />
    </resultMap>

    <sql id="selectPoInvoiceHeaderVo">
        select id, company_code, partner_id, invoice_number, payment_term, posting_date, reference_doc, reference_doc_type, currency_code, gross_amount, gst_amount, hst_amount, qst_amount, pst_amount, net_amount, is_cleared, accounting_doc, gmt_create, gmt_modified, create_by, modified_by, invoice_ticket_url from po_invoice_header
    </sql>

    <select id="selectPoInvoiceHeaderList" parameterType="com.inossem.oms.base.svc.domain.PoInvoiceHeader" resultMap="PoInvoiceHeaderResult">
        <include refid="selectPoInvoiceHeaderVo"/>
        <where>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="partnerId != null  and partnerId != ''"> and partner_id = #{partnerId}</if>
            <if test="invoiceNumber != null  and invoiceNumber != ''"> and invoice_number = #{invoiceNumber}</if>
            <if test="paymentTerm != null  and paymentTerm != ''"> and payment_term = #{paymentTerm}</if>
            <if test="postingDate != null "> and posting_date = #{postingDate}</if>
            <if test="referenceDoc != null  and referenceDoc != ''"> and reference_doc = #{referenceDoc}</if>
            <if test="referenceDocType != null  and referenceDocType != ''"> and reference_doc_type = #{referenceDocType}</if>
            <if test="currencyCode != null  and currencyCode != ''"> and currency_code = #{currencyCode}</if>
            <if test="grossAmount != null "> and gross_amount = #{grossAmount}</if>
            <if test="gstAmount != null "> and gst_amount = #{gstAmount}</if>
            <if test="hstAmount != null "> and hst_amount = #{hstAmount}</if>
            <if test="qstAmount != null "> and qst_amount = #{qstAmount}</if>
            <if test="pstAmount != null "> and pst_amount = #{pstAmount}</if>
            <if test="netAmount != null "> and net_amount = #{netAmount}</if>
            <if test="isCleared != null "> and is_cleared = #{isCleared}</if>
            <if test="accountingDoc != null  and accountingDoc != ''"> and accounting_doc = #{accountingDoc}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
        </where>
    </select>

    <select id="selectPoInvoiceHeaderById" parameterType="Long" resultMap="PoInvoiceHeaderResult">
        <include refid="selectPoInvoiceHeaderVo"/>
        where id = #{id}
    </select>

    <insert id="insertPoInvoiceHeader" parameterType="com.inossem.oms.base.svc.domain.PoInvoiceHeader" useGeneratedKeys="true" keyProperty="id">
        insert into po_invoice_header
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="partnerId != null and partnerId != ''">partner_id,</if>
            <if test="invoiceNumber != null and invoiceNumber != ''">invoice_number,</if>
            <if test="paymentTerm != null and paymentTerm != ''">payment_term,</if>
            <if test="postingDate != null">posting_date,</if>
            <if test="referenceDoc != null and referenceDoc != ''">reference_doc,</if>
            <if test="referenceDocType != null and referenceDocType != ''">reference_doc_type,</if>
            <if test="currencyCode != null and currencyCode != ''">currency_code,</if>
            <if test="grossAmount != null">gross_amount,</if>
            <if test="gstAmount != null">gst_amount,</if>
            <if test="hstAmount != null">hst_amount,</if>
            <if test="qstAmount != null">qst_amount,</if>
            <if test="pstAmount != null">pst_amount,</if>
            <if test="netAmount != null">net_amount,</if>
            <if test="isCleared != null">is_cleared,</if>
            <if test="accountingDoc != null">accounting_doc,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by,</if>
            <if test="invoiceTicketUrl != null and invoiceTicketUrl != ''">invoice_ticket_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="partnerId != null and partnerId != ''">#{partnerId},</if>
            <if test="invoiceNumber != null and invoiceNumber != ''">#{invoiceNumber},</if>
            <if test="paymentTerm != null and paymentTerm != ''">#{paymentTerm},</if>
            <if test="postingDate != null">#{postingDate},</if>
            <if test="referenceDoc != null and referenceDoc != ''">#{referenceDoc},</if>
            <if test="referenceDocType != null and referenceDocType != ''">#{referenceDocType},</if>
            <if test="currencyCode != null and currencyCode != ''">#{currencyCode},</if>
            <if test="grossAmount != null">#{grossAmount},</if>
            <if test="gstAmount != null">#{gstAmount},</if>
            <if test="hstAmount != null">#{hstAmount},</if>
            <if test="qstAmount != null">#{qstAmount},</if>
            <if test="pstAmount != null">#{pstAmount},</if>
            <if test="netAmount != null">#{netAmount},</if>
            <if test="isCleared != null">#{isCleared},</if>
            <if test="accountingDoc != null">#{accountingDoc},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="modifiedBy != null and modifiedBy != ''">#{modifiedBy},</if>
            <if test="invoiceTicketUrl != null and invoiceTicketUrl != ''">#{invoiceTicketUrl},</if>
         </trim>
    </insert>

    <update id="updatePoInvoiceHeader" parameterType="com.inossem.oms.base.svc.domain.PoInvoiceHeader">
        update po_invoice_header
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="partnerId != null and partnerId != ''">partner_id = #{partnerId},</if>
            <if test="invoiceNumber != null and invoiceNumber != ''">invoice_number = #{invoiceNumber},</if>
            <if test="paymentTerm != null and paymentTerm != ''">payment_term = #{paymentTerm},</if>
            <if test="postingDate != null">posting_date = #{postingDate},</if>
            <if test="referenceDoc != null and referenceDoc != ''">reference_doc = #{referenceDoc},</if>
            <if test="referenceDocType != null and referenceDocType != ''">reference_doc_type = #{referenceDocType},</if>
            <if test="currencyCode != null and currencyCode != ''">currency_code = #{currencyCode},</if>
            <if test="grossAmount != null">gross_amount = #{grossAmount},</if>
            <if test="gstAmount != null">gst_amount = #{gstAmount},</if>
            <if test="hstAmount != null">hst_amount = #{hstAmount},</if>
            <if test="qstAmount != null">qst_amount = #{qstAmount},</if>
            <if test="pstAmount != null">pst_amount = #{pstAmount},</if>
            <if test="netAmount != null">net_amount = #{netAmount},</if>
            <if test="isCleared != null">is_cleared = #{isCleared},</if>
            <if test="accountingDoc != null">accounting_doc = #{accountingDoc},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="modifiedBy != null and modifiedBy != ''">modified_by = #{modifiedBy},</if>
            <if test="invoiceTicketUrl != null and invoiceTicketUrl != ''">invoice_ticket_url = #{invoiceTicketUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePoInvoiceHeaderById" parameterType="Long">
        delete from po_invoice_header where id = #{id}
    </delete>

    <delete id="deletePoInvoiceHeaderByIds" parameterType="String">
        delete from po_invoice_header where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
