<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.SoItemMapper">
    <resultMap type="com.inossem.oms.base.svc.domain.SoItem" id="SoItemResult">
        <result property="id" column="id"/>
        <result property="companyCode" column="company_code"/>
        <result property="soNumber" column="so_number"/>
        <result property="soItem" column="so_item"/>
        <result property="skuNumber" column="sku_number"/>
        <result property="isKitting" column="is_kitting"/>
        <result property="kittingSku" column="kitting_sku"/>
        <result property="skuVersion" column="sku_version"/>
        <result property="skuType" column="sku_type"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="salesQty" column="sales_qty"/>
        <result property="salesUom" column="sales_uom"/>
        <result property="basicQty" column="basic_qty"/>
        <result property="basicUom" column="basic_uom"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="netValue" column="net_value"/>
        <result property="taxExmpt" column="tax_exmpt"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="createBy" column="create_by"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="selectSoItemVo">
        select id,
               company_code,
               so_number,
               so_item,
               sku_number,
               is_kitting,
               kitting_sku,
               sku_version,
               sku_type,
               warehouse_code,
               sales_qty,
               sales_uom,
               basic_qty,
               basic_uom,
               unit_price,
               net_value,
               tax_exmpt,
               currency,
               gmt_create,
               create_by,
               gmt_modified,
               modified_by,
               is_deleted
        from so_item
    </sql>


    <insert id="insertBatch" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO so_item
        (
        company_code,
        so_number,
        so_item,
        sku_number,
        is_kitting,
        kitting_sku,
        sku_version,
        sku_type,
        warehouse_code,
        sales_qty,
        sales_uom,
        basic_qty,
        basic_uom,
        unit_price,
        net_value,
        tax_exmpt,
        currency_code,
        gmt_create,
        create_by,
        gmt_modified,
        modified_by,
        is_deleted
        )
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (
            #{item.companyCode},
            #{item.soNumber},
            #{item.soItem},
            #{item.skuNumber},
            #{item.isKitting},
            #{item.kittingSku},
            #{item.skuVersion},
            #{item.skuType},
            #{item.warehouseCode},
            #{item.salesQty},
            #{item.salesUom},
            #{item.basicQty},
            #{item.basicUom},
            #{item.unitPrice},
            #{item.netValue},
            #{item.taxExmpt},
            #{item.currencyCode},
            #{item.gmtCreate},
            #{item.createBy},
            #{item.gmtModified},
            #{item.modifiedBy},
            #{item.isDeleted}
            )
        </foreach>
    </insert>

</mapper>