<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.StockBalanceHistoryMapper">
    
    <resultMap type="com.inossem.oms.base.svc.domain.StockBalanceHistory" id="StockBalanceHistoryResult">
        <result property="id"    column="id"    />
        <result property="period"    column="period"    />
        <result property="companyCode"    column="company_code"    />
        <result property="warehouseCode"    column="warehouse_code"    />
        <result property="skuNum"    column="sku_num"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="averagePrice"    column="average_price"    />
        <result property="currencyCode"    column="currency_code"    />
        <result property="totalOnhandQty"    column="total_onhand_qty"    />
        <result property="totalBlockQty"    column="total_block_qty"    />
        <result property="totalTransferQty"    column="total_transfer_qty"    />
        <result property="totalQty"    column="total_qty"    />
        <result property="basicUom"    column="basic_uom"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>
</mapper>