<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.StockBalanceMapper">

    <resultMap type="com.inossem.oms.base.svc.vo.QueryStockBalanceResVo" id="StockBalanceResult">
        <result property="id" column="id"/>
        <result property="companyCode" column="company_code"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="skuNumber" column="sku_number"/>
        <!--        <result property="skuName"    column="sku_name"    />-->
        <result property="totalAmount" column="total_amount"/>
        <result property="averagePrice" column="average_price"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="totalOnhandQty" column="total_onhand_qty"/>
        <result property="totalBlockQty" column="total_block_qty"/>
        <result property="totalTransferQty" column="total_transfer_qty"/>
        <result property="totalQty" column="total_qty"/>
        <result property="basicUom" column="basic_uom"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="createBy" column="create_by"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="selectStockBySkuAndCompany" resultMap="StockBalanceResult"
            parameterType="com.inossem.oms.base.svc.vo.QueryStockBySkuVo">
        SELECT
        sb.company_code,
        sb.sku_number,
        SUM(sb.total_amount) as total_amount,
        AVG(sb.average_price) as average_price,
        SUM(sb.total_qty) total_qty
        FROM
        stock_balance sb
        <where>
            <if test="skuNumber != null and skuNumber != ''">and sb.sku_number = #{skuNumber}</if>
            <if test="companyCode != null and companyCode != ''">and sb.company_code = #{companyCode}</if>
            and sb.is_deleted = '0'
        </where>
        group by sb.sku_number,sb.company_code
    </select>

    <select id="selectListByQueryParam" resultMap="StockBalanceResult"
            parameterType="com.inossem.oms.base.svc.vo.QueryStockListVo">
        SELECT
        sb.id,
        sb.company_code,
        sb.warehouse_code,
        sb.sku_number,
        sb.total_amount,
        sb.average_price,
        sb.currency_code,
        sb.total_onhand_qty,
        sb.total_block_qty,
        sb.total_transfer_qty,
        sb.total_qty,
        sb.basic_uom,
        sb.gmt_create,
        sb.create_by,
        sb.gmt_modified,
        sb.modified_by,
        sb.is_deleted
        FROM
        stock_balance sb
        <where>
            <if test="searchText != null and searchText != ''">and (sb.sku_number like concat('%',#{searchText},'%')
                <if test="skuMasters != null and skuMasters.size() > 0">or sb.sku_number in
                    <foreach collection="skuMasters" item="skuMaster" index="index" open="(" close=")" separator=",">
                        #{skuMaster.skuNumber}
                    </foreach>
                </if>
                )
            </if>
            <if test="warehouseCode != null and warehouseCode != ''">and sb.warehouse_code = #{warehouseCode}</if>
            <if test="companyCode != null and companyCode != ''">and sb.company_code = #{companyCode}</if>
            and sb.is_deleted = '0'
        </where>
        <if test="skuCodeSort != null and skuCodeSort != '' ">
            order by sb.sku_number ${skuCodeSort}
        </if>
        <if test="totalStockQtySort != null and totalStockQtySort != '' ">
            order by sb.total_qty ${totalStockQtySort}
        </if>
        <if test="onHandQtySort != null and onHandQtySort != '' ">
            order by sb.total_onhand_qty ${onHandQtySort}
        </if>
        <if test="blockQtySort != null and blockQtySort != '' ">
            order by sb.total_block_qty ${blockQtySort}
        </if>
        <if test="balanceValueSort != null and balanceValueSort != '' ">
            order by sb.total_amount ${balanceValueSort}
        </if>
        <if test="skuCodeSort == null
        and totalStockQtySort == null
        and onHandQtySort == null
        and blockQtySort == null
        and balanceValueSort == null">
            order by sb.gmt_create desc
        </if>
    </select>

    <select id="selectSkuTotalQty" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT
            sum( total_onhand_qty ) AS qty
        FROM
            stock_balance
        WHERE
            company_code = #{companyCode}
        GROUP BY
            sku_number
        HAVING
            sku_number = #{skuNumber}
    </select>
</mapper>