<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.SystemConnectMapper">

    <resultMap type="com.inossem.oms.base.svc.domain.SystemConnect" id="SyctemConectResult">
        <result property="id"    column="id"    />
        <result property="companyCode"    column="company_code"    />
        <result property="exSystem"    column="ex_system"    />
        <result property="companyCodeEx"    column="company_code_ex"    />
        <result property="userNameEx"    column="user_name_ex"    />
        <result property="passwordEx"    column="password_ex"    />
        <result property="tokenEx"    column="token_ex"    />
        <result property="apiName"    column="api_name"    />
        <result property="apiUrl"    column="api_url"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="createBy"    column="create_by"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="bkCreator"    column="bk_creator"    />
    </resultMap>

    <sql id="selectSyctemConectVo">
        select id, company_code, ex_system, company_code_ex, user_name_ex, password_ex, token_ex, api_name, api_url, gmt_create,bk_creator, gmt_modified, create_by, modified_by, is_deleted from system_connect
    </sql>

    <select id="selectSyctemConectList" parameterType="com.inossem.oms.base.svc.domain.SystemConnect" resultMap="SyctemConectResult">
        <include refid="selectSyctemConectVo"/>
        <where>
            <if test="companyCode != null  and companyCode != ''"> and company_code = #{companyCode}</if>
            <if test="exSystem != null  and exSystem != ''"> and ex_system = #{exSystem}</if>
            <if test="companyCodeEx != null "> and company_code_ex = #{companyCodeEx}</if>
            <if test="userNameEx != null  and userNameEx != ''"> and user_name_ex = #{userNameEx}</if>
            <if test="passwordEx != null  and passwordEx != ''"> and password_ex = #{passwordEx}</if>
            <if test="tokenEx != null  and tokenEx != ''"> and token_ex = #{tokenEx}</if>
            <if test="apiName != null  and apiName != ''"> and api_name like concat('%', #{apiName}, '%')</if>
            <if test="apiUrl != null  and apiUrl != ''"> and api_url = #{apiUrl}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectSyctemConectById" parameterType="Long" resultMap="SyctemConectResult">
        <include refid="selectSyctemConectVo"/>
        where id = #{id}
    </select>

    <insert id="insertSyctemConect" parameterType="com.inossem.oms.base.svc.domain.SystemConnect" useGeneratedKeys="true" keyProperty="id">
        insert into system_connect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="exSystem != null and exSystem != ''">ex_system,</if>
            <if test="companyCodeEx != null">company_code_ex,</if>
            <if test="userNameEx != null">user_name_ex,</if>
            <if test="passwordEx != null">password_ex,</if>
            <if test="tokenEx != null">token_ex,</if>
            <if test="apiName != null">api_name,</if>
            <if test="apiUrl != null">api_url,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="createBy != null">create_by,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="exSystem != null and exSystem != ''">#{exSystem},</if>
            <if test="companyCodeEx != null">#{companyCodeEx},</if>
            <if test="userNameEx != null">#{userNameEx},</if>
            <if test="passwordEx != null">#{passwordEx},</if>
            <if test="tokenEx != null">#{tokenEx},</if>
            <if test="apiName != null">#{apiName},</if>
            <if test="apiUrl != null">#{apiUrl},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateSyctemConect" parameterType="com.inossem.oms.base.svc.domain.SystemConnect">
        update system_connect
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="exSystem != null and exSystem != ''">ex_system = #{exSystem},</if>
            <if test="companyCodeEx != null">company_code_ex = #{companyCodeEx},</if>
            <if test="userNameEx != null">user_name_ex = #{userNameEx},</if>
            <if test="passwordEx != null">password_ex = #{passwordEx},</if>
            <if test="tokenEx != null">token_ex = #{tokenEx},</if>
            <if test="apiName != null">api_name = #{apiName},</if>
            <if test="apiUrl != null">api_url = #{apiUrl},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSyctemConectById" parameterType="Long">
        delete from system_connect where id = #{id}
    </delete>

    <delete id="deleteSyctemConectByIds" parameterType="String">
        delete from system_connect where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
