<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.common.mapper.CarrierTableMapper">
    
    <resultMap type="com.inossem.oms.base.common.domain.CarrierTable" id="CarrierTableResult">
        <result property="id"    column="id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="accessToken"    column="access_token"    />
        <result property="carrierUsername"    column="carrier_username"    />
        <result property="carrierPassword"    column="carrier_password"    />
        <result property="trackingUrl"    column="tracking_url"    />
        <result property="logoUrl"    column="logo_url"    />
    </resultMap>

    <sql id="selectCarrierTableVo">
        select id, carrier_code, name, status, access_token, carrier_username, carrier_password, tracking_url, logo_url from carrier_table_list
    </sql>

    <select id="selectCarrierTableList" parameterType="com.inossem.oms.base.common.domain.CarrierTable" resultMap="CarrierTableResult">
        <include refid="selectCarrierTableVo"/>
        <where>  
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="accessToken != null  and accessToken != ''"> and access_token = #{accessToken}</if>
            <if test="carrierUsername != null  and carrierUsername != ''"> and carrier_username like concat('%', #{carrierUsername}, '%')</if>
            <if test="carrierPassword != null  and carrierPassword != ''"> and carrier_password = #{carrierPassword}</if>
            <if test="trackingUrl != null  and trackingUrl != ''"> and tracking_url = #{trackingUrl}</if>
            <if test="logoUrl != null  and logoUrl != ''"> and logo_url = #{logoUrl}</if>
        </where>
    </select>
    
    <select id="selectCarrierTableById" parameterType="Long" resultMap="CarrierTableResult">
        <include refid="selectCarrierTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCarrierTable" parameterType="com.inossem.oms.base.common.domain.CarrierTable" useGeneratedKeys="true" keyProperty="id">
        insert into carrier_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carrierCode != null and carrierCode != ''">carrier_code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="accessToken != null">access_token,</if>
            <if test="carrierUsername != null">carrier_username,</if>
            <if test="carrierPassword != null">carrier_password,</if>
            <if test="trackingUrl != null">tracking_url,</if>
            <if test="logoUrl != null">logo_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carrierCode != null and carrierCode != ''">#{carrierCode},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="carrierUsername != null">#{carrierUsername},</if>
            <if test="carrierPassword != null">#{carrierPassword},</if>
            <if test="trackingUrl != null">#{trackingUrl},</if>
            <if test="logoUrl != null">#{logoUrl},</if>
         </trim>
    </insert>

    <update id="updateCarrierTable" parameterType="com.inossem.oms.base.common.domain.CarrierTable">
        update carrier_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierCode != null and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="accessToken != null">access_token = #{accessToken},</if>
            <if test="carrierUsername != null">carrier_username = #{carrierUsername},</if>
            <if test="carrierPassword != null">carrier_password = #{carrierPassword},</if>
            <if test="trackingUrl != null">tracking_url = #{trackingUrl},</if>
            <if test="logoUrl != null">logo_url = #{logoUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarrierTableById" parameterType="Long">
        delete from carrier_table where id = #{id}
    </delete>

    <delete id="deleteCarrierTableByIds" parameterType="String">
        delete from carrier_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>