<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.oms.base.svc.mapper.CurrencyExchangeMapper">
    
    <resultMap type="com.inossem.oms.base.svc.domain.CurrencyExchange" id="CurrencyExchangeResult">
        <result property="id"    column="id"    />
        <result property="currencyFr"    column="currency_fr"    />
        <result property="currencyTo"    column="currency_to"    />
        <result property="rate"    column="rate"    />
        <result property="rateDate"    column="rate_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="timeStamp"    column="time_stamp"    />
    </resultMap>

    <insert id="insertBatch" >
        INSERT INTO currency_exchange
            (currency_fr,
             currency_to,
             rate,
             rate_date,
             create_time,
             update_time,
             delete_time,
             time_stamp)
        values
        <foreach collection="list" item="item"  separator=",">
            (
            #{item.currencyFr},
            #{item.currencyTo},
            #{item.rate},
            #{item.rateDate},
            #{item.createTime},
            #{item.updateTime},
            #{item.deleteTime},
            #{item.timeStamp}
            )
        </foreach>
    </insert>

</mapper>